a.nav-link {
  padding: 12px !important;
}

.numerito {
  font-size: 15px;
  padding: 5px;
  background-color: white;
  color: black;
  border-radius: 10px;
  text-decoration: solid;
}

.link-no-underline {
  text-decoration: none;
}
.cantidadCompra {
  padding: 5px;
}
.botonMasMenos {
  margin-bottom: 10px;
}
.volverInicio{
  margin: 20px;
}
